<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h3><%= 1+2 %></h3>
    <h1>This is the Home Page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum vel a fugiat voluptate, iure cum asperiores laborum facere ea, molestias sit dolore aut exercitationem quis eum, doloremque similique ab? Laborum.</p>
    <button>CLICK ME!</button>
</body>
</html>