<%- include("includes/head.ejs") %>
<body>
    <h1>Your Dice Gave :
        <%= diceval %>
        <% if(diceval==6){ %>
        <h2>Nice! Try Again</h2>
       <% } %>
    </h1>
    <%- include("includes/footer.ejs") %>
</body>
</html>